.vscode/**
.vscode-test/**
.github/**
.staged-issues/**
.staged-feature/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
.mocharc.cjs
esbuild.js
vsc-extension-quickstart.md
pnpm-lock.yaml
**/tsconfig.json
**/tsconfig.test.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
media/demo.gif
